name: sum_mind_final_stable
description: A new Flutter project.
publish_to: 'none'
version: 1.0.0+10
environment:
  sdk: '>=3.0.0 <4.0.0'
dependencies:
  flutter:
    sdk: flutter
dev_dependencies:
  flutter_test:
    sdk: flutter
flutter:
  uses-material-design: true
